@import url('css2');
@import url('css2-1');
@import url('css2-2');

:root {
  --mainColor: rgb(221, 239, 239);
  --subMainColor: hsl(180, 37%, 10%);
  
  --mainColor: rgb(225 213 200);
  
  --light30: hsla(180, 36%, 10%, .1);
  --light50: hsla(180, 36%, 10%, .5);
  --light20: hsla(180, 36%, 10%, .2);
  --dark70: hsla(180, 36%, 10%, 0.7);
  --paddingZero:0px;
  --mainPadding2: 40px;
  --mainPadding1: 100px;
  --headerHeight:91px;
  --maxWidth:1024px;
  --radius:10px;
}
html{
  height: 100vh;
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
  color: var(--subMainColor);
}

body {
  width:100%;
  background: var(--mainColor) /*url(images/bgImage2.svg)*/;
  background-repeat: no-repeat;
  background-position: 90% 80%;
  background-attachment: scroll;
  background-size: 30%;
}

.header {
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--paddingZero) var(--mainPadding2);
  position: sticky;
  top: 0px;
  left: 0px;
  background: var(--mainColor);
  z-index: 10;
}

.header .header_logo {
  width: 6%;
  height: var(--headerHeight);
  mask-image: url(images/Logo.svg);
  -webkit-mask-image:url(images/Logo.svg);
  mask-size: cover;
  -webkit-mask-size:100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background: var(--subMainColor);
}
.header .header_logo a {
  height: var(--headerHeight);
  display: block;
}
.header .headsection{
  display: flex;
  align-items: center;
}
.headWhatsapp{
  width: 30px;
  aspect-ratio: 1/1;
  background: var(--subMainColor);
  mask: url('images/whatsapp.svg');
  -webkit-mask: url('images/whatsapp.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}
.headNumber{
  text-decoration: none;
  padding: 15px 10px;
  border-radius: var(--radius);
}
.menu_bar,
.menu_T-C {
    display: none;
}

.menu_list {
    list-style-type: none;
    display: flex;
}

.menu_list li a {
    text-decoration: none;
    padding: 15px 10px;
    border-radius: var(--radius);
}

.menu_list li a:hover {
    background: rgba(221, 239, 239,.2);
}
/* bannner CSS */
.banner{
  max-width:var(--maxWidth) ;
  padding: var(--paddingZero) var(--mainPadding2);
  text-transform: capitalize;

  position: relative;
  margin: 0px auto 100px auto;
}
.bannerBox{
  padding-top: 120px;
  width: 580px;
}
.bg {
  position: absolute;
  top: 90px;
  right: 0%;
  width: 50%;
  height: 100%;
  background: url(images/bgImage2.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80%;
}
.extraBold{
  font-size: 75px;
  line-height:75px;
  color: var(--subMainColor);
  text-transform: uppercase;
}

.button{
  display: inline-block;
  padding: 10px 20px;
  border-radius: var(--radius);
  background: var(--subMainColor);
  color: var(--mainColor);
  cursor: pointer;
  text-decoration: none;
}
.button_big{
  font-size: 20px;
  padding: 15px 45px;
}
small.head_small{
  color: var(--subMainColor);
  font-size: 16px;
  display: block;
  line-height: 25px;
  margin-top: 10px;
  font-weight: 300;
}
.bannerBtn{
  margin-top: 20px;
}
.card{
  position: relative;
  width: 230px;
  height: 250px;
  cursor: default;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.front,.back{
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
  background: #c8dbdb;
  background:#d6e9e9;
  transition: transform .3s;
  border-radius: var(--radius);
}
.front{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.back{
  padding: 20px;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform:perspective(500px) rotateY(-180deg);
}
.back h3{
  margin-bottom: 5px;
}
.card:hover .front{
  transform:perspective(500px) rotateY(180deg);
}
.card:hover .back{
  transform:perspective(500px) rotateY(0deg);
}
/*speciality*/
.flex_column {
  display: flex;
  max-width: var(--maxWidth);
  /* padding: var(--paddingZero) var(--mainPadding2); */
  margin: 0% auto;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flex_column::-webkit-scrollbar {
  display: none;
}
.sub_box{
  background: var(--light30);
  border-radius: var(--radius);
  backdrop-filter: blur(5px);
}
.flex_sub_box {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  text-decoration: none;
  transition: .3s;
}
.flex_sub_box > * {
  margin-bottom: 10px;
}

.img_icon {
  width: 70px;
  aspect-ratio: 1/1;
  background: var(--subMainColor);
  border-radius: var(--radius);
  position: relative;
}

.img_icon::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  background: var(--mainColor);
  mask-size: 70%;
  -webkit-mask-size: 70%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.icon_one::before{
  mask-image: url(images/save_money.svg);
  -webkit-mask-image: url(images/save_money.svg);
}
.icon_two::before{
  mask-image: url(images/live_pnr.svg);
  -webkit-mask-image: url(images/live_pnr.svg);
}
.icon_three::before{
  mask-image: url(images/fast_delevery.svg);
  -webkit-mask-image: url(images/fast_delevery.svg);
}
.icon_four::before{
  background: var(--subMainColor);
  color: var(--mainColor);
  content: 'Genuine ';
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_five::before{
  background: var(--subMainColor);
  color: var(--mainColor);
  content: '24X7';
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_six::before{
  mask-image: url(images/TrustPilot.svg);
  -webkit-mask-image: url(images/TrustPilot.svg);
}
small.mini_text {
  white-space: break-spaces;
  text-align: center;
}
/*special box*/
.box{
  max-width: var(--maxWidth);
  margin: 50px auto;
  padding: var(--paddingZero) var(--mainPadding2);
  scroll-margin-top: var(--headerHeight);
}
.special_box,.question{
  width: 100%;
  min-height: 200px;
  padding: var(--mainPadding2);
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  display: none;
}
.special_box:first-child{
  display: block;
}
.question{
  display: block;
  min-height: unset;
  overflow-y:hidden ;
  height: 70px;
  margin-top: 20px;
  padding:20px var(--mainPadding2) ;
  transition: height .3s;
}
.question p{
  padding-top: 30px;
  transition: padding .3s;
}
.question h3{
  text-transform: capitalize;
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}
.q_active p{
  padding-top: 0px;
  padding-bottom:0px ;
  cursor: default;
}
.question > h3::after{
  content: '';
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--subMainColor);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-image: url(images/down.svg);
  -webkit-mask-image: url(images/down.svg);
  transition: transform .3s;
}
.q_active > h3::after{
  transform: translateY(-50%) rotate(180deg);
}
.link{
  transition: background .3s , padding .3s;
  border-radius: var(--radius);
}
.link:hover{
  background: var(--light20);
  padding: 0px 5px;
}
.heading{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.hScrolling_box{
  white-space: nowrap;
  overflow-x: scroll;
}
.hScrolling_box::-webkit-scrollbar{
  display: none;
}
.pricing{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}
.price_head{
  padding: 10px;
  background: var(--subMainColor);
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.price_head P,.price_head small{
  color: var(--mainColor);
  white-space: break-spaces;
}
.price_item{
  padding:15px 30px 15px 50px;
  font-size: 15px;
  white-space: break-spaces;
  text-align: left;
  position: relative;
}
.price_item::before{
  content: '\2714';
  position: absolute;
  top: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
  /* background: red; */
}
.price_head strong{
  color: var(--mainColor);
  font-size: 40px;
}
.price_box{
  text-align: center;
  padding-bottom: 20px;
  height: fit-content;
  min-width: 300px;
}
.footer{
  background: var(--subMainColor);
  padding: var(--mainPadding2);
  margin: 25px 0px 50px 0px;
  position: relative;
  overflow: hidden;
}
.footer *{
  color: var(--mainColor);
}
.footer_box{
  max-width: var(--maxWidth);
  margin:0px auto 50px auto;
}
.footer_icon_box{
  display: flex;
  justify-content: center;
}
.footer a{
  text-decoration: none;
}
.footer_icon{
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: var(--radius);
  margin: 10px;
  border: 2px solid var(--mainColor);
  transition: background .2s;
}
.footer_icon:hover{
  background: var(--mainColor);
}
.footer_icon:hover::before{
  background: var(--subMainColor);
}
.footer_icon::before{
  mask-size: 50%;
  -webkit-mask-size: 50%;
}
.icon_seven::before {
  mask-image: url(images/facbook.svg);
  -webkit-mask-image: url(images/facbook.svg);
}
.icon_eight::before {
  mask-image: url(images/instagram.svg);
  -webkit-mask-image: url(images/instagram.svg);
}
.icon_nine::before {
  mask-image: url(images/youtube.svg);
  -webkit-mask-image: url(images/youtube.svg);
}
.icon_ten::before {
  mask-image: url(images/quora.svg);
  -webkit-mask-image: url(images/quora.svg);
}
.icon_eleven::before {
  mask-image: url(images/pinterest.svg);
  -webkit-mask-image: url(images/pinterest.svg);
}
.icon_twelve::before {
  mask-image: url(images/twitter.svg);
  -webkit-mask-image: url(images/twitter.svg);
}
.sub_footer{
  margin-bottom: 0px;
}
.footer_mini_text{
  text-align: center;
  margin-bottom: 15px;
  color: rgba(236 ,255 ,255 ,.5);
  font-size: 14px;
  font-weight: 300;
}
.footer_info{
  display: flex;
  justify-content: space-between;
}
.footer_pages,
.direct_info{
  display: flex;
  flex-direction: column;
}
.direct_info{
  align-items: flex-end;
  padding-left: 25px;
}
.footer_info a{
  width: fit-content;
  position: relative;
}
.footer_info a:after{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--mainColor);
  -webkit-mask: url(images/page.svg) center / 70% no-repeat;
  mask: url(images/page.svg) center / 70% no-repeat;
}
.footer_info a.icon_book:after{
  -webkit-mask: url(images/book.svg) center / 70% no-repeat;
  mask: url(images/book.svg) center / 70% no-repeat;
}
.footer_info a.icon_info:after{
  -webkit-mask: url(images/info.svg) center / 70% no-repeat;
  mask: url(images/info.svg) center / 70% no-repeat;
}
.footer_info a.icon_T\&C:after{
  -webkit-mask: url(images/check-box.svg) center / 70% no-repeat;
  mask: url(images/check-box.svg) center / 70% no-repeat;
}
.footer_info a.icon_contact:after{
  right: 100%;
}
.footer_info a.icon_call:after{
  -webkit-mask: url(images/call.svg) center / 70% no-repeat;
  mask: url(images/call.svg) center / 70% no-repeat;
  right: 100%;
}
.footer_info a.icon_mail:after{
  -webkit-mask: url(images/mail.svg) center / 70% no-repeat;
  mask: url(images/mail.svg) center / 70% no-repeat;
  right: 100%;
}
.footer_info a.icon_whatsapp:after{
  -webkit-mask: url(images/whatsapp.svg) center / 70% no-repeat;
  mask: url(images/whatsapp.svg) center / 70% no-repeat;
  right: 100%;
}
.footer_rights{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 50px;
}
.footer_rights p{
  padding-top: 15px;
}

