:root {
    --light30: hsla(0, 0%, 100%, .3);
    --paddingZero: 0px ;
    --mainPadding2: 40px;
    --mainPadding1: 100px;
    --headerHeight: 91px;
    --maxWidth: 1024px;
    --radius: 10px;
    --placeHolder: hsla(180, 36%, 10%, 0.5);
    --hilight: hsla(180, 36%, 10%, 0.1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
    border: none;
}

.flex {
    display: flex;
}

.padding_zero {
    padding: var(--paddingZero);
}

.margin_center {
    margin: 0px auto;
}

.relative {
    position: relative;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.labelCenter {
    height: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 16px;
}

.not_active {
    --subMainColor: var(--hilight);
    --placeHolder: var(--hilight);
    cursor: not-allowed;
}

.not_active * {
    cursor: not-allowed;
}

.invalidRegex {
    border: 1px solid orangered !important;
}

.regexError {
    position: absolute;
    left: 10px;
    top: 100%;
    font-size: 10px;
    color: orangered;
}

.full_width {
    width: 100%;
    text-transform: uppercase;
}

.hover {
    --mainColor: tranparent;
    background: var(--hilight);
}

.mark {
    background: var(--hilight);
}

.scroll_y {
    height: calc(100%);
    overflow-x: hidden;
    position: relative;
}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.full_width.margin_center:nth-of-type(1){
    margin-bottom: 20px;
}

.selectBox {
    position: relative;
}

.select_box_head {
    position: relative;
}

.selectorPlaceholder {
    position: absolute;
    top: -50%;
    left: 16px;
    padding: 0px 3px;
    transform: translateY(50%);
    background: var(--mainColor);
    color: var(--placeHolder);
}

.selectBoxDisplay {
    width: 100px;
    height: 50px;
    background: gainsboro;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    border: 1px solid;
    outline: none;
    cursor: pointer;
}

.optionBox {
    width: calc(100% + 2px);
    min-width: calc(100% + 2px);
    max-height: 200px;
    background: var(--mainColor);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    left: -1px;
    z-index: 1;
    border-radius: 0px 0px var(--radius) var(--radius);
    border: 1px solid var(--placeHolder);
    transition: height .3s;
}

.option {
    padding: 10px;
    font-size: 18px;
}

.selected {
    background: var(--hilight);
}

.input {
    border: 1px solid var(--placeHolder);
    border-radius: var(--radius);
    height: 100%;
    max-height: 52px;
    min-height: 50px;
    width: calc(50% - 20px);
    position: relative;
}

.req_tag:after {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(115, 139, 139);
    /* border: 2px solid var(--mainColor); */
}

.input .placeholder {
    position: absolute;
    left: 16px;
    top: -25;
    z-index: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
    color: var(--placeHolder);
    background: linear-gradient(transparent 35%, var(--mainColor) 35%, var(--mainColor) 55%, transparent 55%);
    transition: all .2s;
}

input:focus~.placeholder,
textarea:focus~.placeholder {
    top: -25px !important;
    z-index: 1;
    color: var(--placeHolder) !important;

}

input:placeholder-shown~.placeholder,
textarea:placeholder-shown~.placeholder {
    color: var(--subMainColor);
    top: 0%;
}

input[type='text'],
textarea {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: var(--radius);
}

.massageBox {
    height: fit-content;
    max-height: fit-content;
}

textarea {
    height: 100px;
}

.auto_complete_box {
    width: calc(100% + 2px);
    top: 100%;
    left: -1px;
    max-height: 200px;
    padding: 0px 16px;
    overflow-y: scroll;
    position: absolute;
    background: var(--mainColor);
    z-index: 1;
    border: 1px solid var(--placeHolder);
    border-radius: 0px 0px var(--radius) var(--radius);
    border-top: transparent;
    display: none;
}

.auto_complete {
    width: 100%;
    min-height: 50px;
    border-top: 1px solid var(--placeHolder);
    display: flex;
}

.auto_complete span:nth-child(2) {
    font-size: 12px;
    text-align: right;
}

.auto_complete span:nth-child(3) {
    font-size: 10px;
    grid-area: 2/1/2/-1;
}

.personal,
.agency {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
}

.personal .input:nth-of-type(1) {
    width: 90px;
}

.personal .input:nth-of-type(2),
.personal .input:nth-of-type(3) {
    width: calc(50% - 65px);
}

.personal .input:nth-of-type(4),
.personal .input:nth-of-type(8),
.personal .input:nth-of-type(12),
.agency .input:nth-of-type(6) {
    width: 155px;
}

.personal .input:nth-of-type(5),
.personal .input:nth-of-type(6),
.personal .input:nth-of-type(7),
.personal .input:nth-of-type(9),
.personal .input:nth-of-type(10),
.personal .input:nth-of-type(11),
.agency .input:nth-of-type(4),
.agency .input:nth-of-type(5) {
    width: calc(50% - 97.5px);
}

.agency .input:nth-of-type(1),
.agency .input:nth-of-type(2),
.agency .input:nth-of-type(3),
.agency .input:nth-of-type(7),
.agency .input:nth-of-type(8),
.agency .input:nth-of-type(9) {
    width: calc((100% / 3) - (40px /3));
}

.agency .input:nth-of-type(10),
.agency .input:nth-of-type(11),
.agency .input:nth-of-type(12),
.agency .input:nth-of-type(13) {
    width: calc(50% - 10px);
}

.button {
    display: block;
    padding: 10px 20px;
    border-radius: var(--radius);
    background: var(--subMainColor);
    color: var(--mainColor);
    cursor: pointer;
    text-decoration: none;
    margin: 0px auto;
}
form{
    padding-bottom: 40px;
}
.box.padding_zero{
    --paddingZero: 0px 20px;
}
/*special css for this case*/
#cCode~.auto_complete_box span:nth-of-type(2),
#country~.auto_complete_box span:nth-of-type(2),
#aCountry~.auto_complete_box span:nth-of-type(2) {
    display: none;
}
.confirmBox{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: var(--dark70);
    backdrop-filter: blur(5px);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.confirmMainBox{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    text-align: center;
    --subMainColor:rgb(221, 239, 239);
    --mainColor:hsl(180, 37%, 10%);
}
.confirmBox .button{
    font-weight: bold;
}
.cancel{
    background: rgba(221, 239, 239,.3);
    color: var(--subMainColor);
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 10px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
}

/* Responsive Css */
@media screen and (max-width: 991px) {
    :root {
        --maxWidth: 727px;
    }

    .box.padding_zero {
        --paddingZero: 0px 20px;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --mainPadding2: 20px;
    }

    .box {
        --maxWidth: 600px;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --headerHeight: 60px;
    }

    .header .header_logo {
        width: 10%;
        height: var(--headerHeight);
    }

    .input {
        margin: 20px 0px;
        width: 100% !important;
    }

    .personal,
    .agency {
        display: block;
        margin-top: unset;
    }
}